.Active {
  background-color: var(--active-color);
}
.Arrow {
  width: 50px;
  padding: 5px;
  cursor: pointer;
}
.LeftArrow {
  transform: rotate(180deg);
}
.PaginationItems {
  margin-top: 30px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  /* width: 30px; */
}
.PaginationItem {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  height: 50px;
  cursor: pointer;
  transition: all ease var(--base-transition);
}

.PaginationItem:hover {
  background: var(--active-color);
}
