.GamesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 10px;
  @media (max-width: 450px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
