.GameCardLoader {
  height: 250px;
  background: linear-gradient(90deg, var(--active-color), var(--main-color));
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
