@import "normalize.css";
@import "./styles/variables.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open-sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  color: var(--main-text-color);
}

li {
  list-style: none;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
}
#headlessui-portal-root {
  display: none;
}

.container {
  max-width: 1250px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}
